<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <title>Home Page</title>
</head>
<body>

  <div class="container">
	  	<nav class="navbar navbar-light bg-light">
	  <a class="navbar-brand" href="">Shoe store</a>
	  <form class="form-inline">
	    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	  </form>
	</nav>
  	<div class="row" >
  		<div class="col-md-4">
  			<img width="350" src="http://{{ request.get_host }}/{{ product.image}}">
  		</div>
  		<div class="col-md-8">
  		<h1>Product Details</h1>
  		<h3>Name: {{ product.name }}</h3>
  		<h3>Price: {{ product.price }}$</h3>
  		<h3>Description: {{ product.description }}</h3>
      <br>
      <h2>Commentaire :</h2>
      {% for comment in comments %}
        <h5>{{ comment.username }} - {{ comment.date }}</h5>
        <br>
        <p>{{ comment.text }}</p>
      {% endfor %}  
  		</div>
  	</div>
  </div>

  			
  			
   
  

</body>
</html>